#title {
    background-color: rgb(116, 85, 253);
}
  
.Expert {
    background-color: green;
}

.Medium {
    background-color: yellow;
}

.Basic {
    background-color: red;
}

h1 {
    font-family: cursive;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    border: 1px solid black;
}