.centro {
    margin-left: 550px;
}

table {
    border-collapse: collapse;
  }
  
  th, td {
    border: 2px solid black;
    text-align: left;
    padding: 8px;
  }

#title {
    background-color: rgb(116, 85, 253);
}
  
.Expert {
    background-color: green;
}

.Medium {
    background-color: yellow;
}

.Basic {
    background-color: red;
}

body {
    font-family: cursive;
}

.content {
    border: 5px solid #000000; 
    padding: 10px;
    margin-bottom: 20px; 
    margin-top: 10px;
}